<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
    </style>
</head>

<body>
    <header id="head">
        <ul>
            <li><a href="/"><h3 class="headerText" id="header1">HOME</h3></a></li>
            <li><a href="/artist"><h3 class="headerText" id="header2">ARTISTS</h3></a></li>
            <li><a href="/concert"><h3 class="headerText" id="header3">CONCERTS</h3></a></li>
            <li><a href="/date"><h3 class="headerText" id="header4">DATES</h3></a></li>
        </ul>
    </header>


    <div class="caroussel">
        <div class="cc1">
            <h4 class="cctitle">ARTISTS<br>
                <button class="ccbutton" onclick="window.location.href='/artist'">DISCOVER</button>
            </h4>
        </div>
        <div class="cc2">
            <h4 class="cctitle">CONCERTS<br>
                <button class="ccbutton" onclick="window.location.href='/concert'">DISCOVER</button>
            </h4>
        </div>
        <div class="cc3">
            <h4 class="cctitle">DATES<br>
                <button class="ccbutton" onclick="window.location.href='/date'">DISCOVER</button>
            </h4>
        </div>
    </div>


    <div class="listenMusic">
        <div id="musicTextBackground"></div>
        <button id="musicButton" onclick="expandButton()">
            <img src="assets/image/music.png" id="musicImage" alt="">
            <div id="imgListenMusic"></div>
            <p id="titleListenMusic">Song Name</p>
        </button>
        <p class="musicText" id="aera">Listen to music ?</p>
    </div>

    <script type="module" src="assets/js/head.js"></script>

</body>
</html>